{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "plugin:import/errors",
    "plugin:flowtype/recommended"
  ],
  "plugins": ["prettier", "flowtype"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "amd": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": "error",
    "no-warning-comments": "error",
    "no-console": 0,
    "no-debugger": 0,
    "no-constant-condition": 0
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": false
    },
    "import/resolver": {
      "babel-module": {}
    }
  }
}
